@import url(common.css);

.content-wrapper{
    width: 100%;
    height: calc(100vh - 100px);
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3em;
    gap: 1em;
}

.tagline{
    font-size: 4.5vw;
    font-weight: 900;
    color: var(--primaryColor);
    margin-top: 1em;
}

.content-wrapper>p{
    font-size: 1em;
    color: aliceblue;
}

.delly-image{
    height: 30em;
    position: absolute;
    bottom: 0;

    img{
        height: 100%;
    }
}

