@import url(common.css);

.animation{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.website-name-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: -10;
    color: var(--startupColor);
    font-size: 7vw;
    font-weight: 900;
    text-align: center;
    display: none;
}

.rider-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: none;
}

.rider-container .rider{
    position: absolute;
    transform: translate(-20%, 0);
    height: 20vw;

    img{
        height: 100%;
    }
}

.main-content-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: none;
    position: relative;
}

.content{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.left{
    height: 100%;
    width: 50%;
    padding: 6em 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3em;
    /* background-color: azure; */

    h1{
        font-size: 4em;
        color: var(--primaryColor);
    }

    p{
        font-size: 1em;
        color: #D7D4CC;
    }

    button{
        width: 10em;
        height: 3em;
        font-size: 1em;
        background-color: var(--primaryColor);
        color: black;
        font-weight: 600;
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        transition: all 200ms ease;
        
        i{
            display: none;
            font-size: 1.2em;
            margin-left: 0.5em;
        }
    }

    button:hover{
        width: 11em;
        color: white;
        background-color: var(--secondaryColor);

        i{
            display: initial;
        }
    }
}

.right{
    height: 100%;
    width: 50%;
    /* background-color: blue; */

    img{
        width: 95%;
        background-size: contain;
        background-position: center;
    }
}

.rider-container-animation{
    animation: rider-anim 4s linear 1;
}

.main-content-animation{
    animation: main-anim 2s ease 1;
}

@keyframes rider-anim {
    0%{
        width: 100vw;
    }

    100%{
        width: 0vw;
    }
}

@keyframes main-anim {
    0% {
        transform: translate(0 , 100%);
    }

    100% {
        transform: translate(0 , 0);
    }
}
